.tool {
  h1 {
    font-weight: 600;
  }
}

.tool-intro {
  margin-top: -150px;
  background-color: $white;
  padding: 75px;
  position: relative;
  margin-bottom: 50px;
}

.tool-principle {
  width: 140px;
  padding: 10px 20px;
  position: absolute;
  top: -100px;
  left: 75px;
  background-color: $light;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  .bg-icon {
    background-color: $white;
    border-radius: 50%;
    margin: 10px auto;
    max-width: 75px;
  }
}