<footer id="page-footer" class="bg-dark text-white">
  <div class="container">
    <div class="row {% unless site.lang =='en' %}text-right{% endunless %}">
      <div class="col-lg-6">
        <div class="content">
          <img src="/img/DFID_Start.png" class="img-fluid mb-3" alt="Design Tool logo">
          <p>{% translate footer.description %}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content">
          <h3><strong>{% translate footer.form_title %}</strong></h3>
          <div id="form-confirmation">
            {% translate footer.confirmation_message %}
          </div>
          <form id="contact-form" method="post" action="/success.html">
            <input type="hidden" name="_to" value="jon@ocupop.com">
            <div class="form-group">
              <label for="email_field">{% translate footer.email_label %}</label>
              <input type="text" name="email" id="email_field" class="form-control">
            </div>
            <div class="form-group">
              <label for="message_field">{% translate footer.message_label %}</label>
              <textarea name="message" id="message_field" class="form-control"></textarea>
            </div>
            <input type="text" name="_gotcha" style="display: none;">
            <input type="submit" value="{% translate footer.submit_label %}" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>