{% if site.lang == 'en' %}
  {% assign active_link = page.permalink_en %}
{% else %}
  {% assign active_link = page.permalink %}
{% endif %}
<header id="page-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% translate_link community-innovation %}">{% translate global.title %}</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="bar close-one"></span>
        <span class="bar close-two"></span>
        <span class="bar close-three"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto{% unless site.lang =='en' %}ml-0 mr-auto{% endunless %}">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if page.namespace == 'community-tools' or page.layout == 'tool' or page.layout == 'principle' %}active{% endif %}" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {% translate topnav.tools_link %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign principles = site.principles | sort: 'order_number' %}
              {% for principle in principles  %}
                {% case site.lang %}
                  {% when 'en' %}
                    {% assign name = principle.en.name %}
                  {% when 'ar' %}
                    {% assign name = principle.ar.name %}
                {% endcase %}
                <a class="dropdown-item" href="{% tl principle.namespace %}">{{ name }}</a>
                {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.namespace == 'design-for-impact' %}active{% endif %}" href="{% tl design-for-impact %}" >{% translate topnav.design_for_impact_link %}</a>
          </li>
          <li class="nav-item{% unless site.lang =='en' %} mr-4{% endunless %}">
            {% if site.lang == "ar" %}
            {% capture link_english %}{{ site.baseurl_root }}/en{{ page.url }}{% endcapture %}
            <a href="{{ link_english }}" class="nav-link btn btn-secondary btn-block">{% t global.english %}</a>
            {% elsif site.lang == "en" %}
            {% capture link_arabic %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
            <a href="{{ link_arabic }}" class="nav-link btn btn-secondary btn-block">{% t global.arabic %}</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
