<header id="page-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">Design &amp; Social Innovation<br>in the middle east</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if page.url contains '/principles' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Community Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% assign principles = site.principles | sort: 'order_number' %}
              {% for principle in principles  %}
                <a class="dropdown-item" href="{{ principle.url }}">{{ principle.name }}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/design-for-dignity' %}active{% endif %}" href="/design-for-dignity" >Design for Dignity</a>
          </li>
          <li class="nav-item dropdown">
            <button id="language-menu" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {% translate topnav.language_selection %}
            </button>
            {% include components/language-selector.html %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
