{% assign current_tool = page.slug %}
{% assign related = "" | split: ',' %}
{% for tool in site.tools %}
  {% if page.related_tools contains tool.namespace %}
    {% assign related = related | push: tool %}
  {% endif %}
{% endfor %}

{% if related.size > 0 %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <p class="text-uppercase">{% translate headings.related_tools %}:</p>
        </div>
        <div class="card-deck card-deck-25">
          {% for tool in related %}
          {% assign tool_namespace = tool.namespace %}
          {% case site.lang %}
          {% when 'en' %}
          {% assign translation = tool.en %}
          {% when 'ar' %}
          {% assign translation = tool.ar %}
          {% endcase %}
          {% include components/tool-card.html namespace=tool_namespace %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}