

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.5/venobox.min.js" crossorigin="anonymous" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
  defer></script>
<!-- main js file-->
<!-- <script src="{{'/assets/js/main.js' | prepend: site.url }}" defer></script> -->
<script type="text/javascript" defer>
  $(document).ready(function(){
    $('#carousel-video-thumbs').on('slide.bs.carousel', function (e) {

      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 4;
      var totalItems = $('.carousel-item').length;

      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $('.carousel-item').eq(i).appendTo('.carousel-inner');
          }
          else {
            $('.carousel-item').eq(0).appendTo('.carousel-inner');
          }
        }
      }
    });
  })
  
</script>

<script type="text/babel" defer>
  const videos = [
    {% for video in site.data.videos %}
      {% assign tool = site.tools | where: 'slug', video.tool | first %}
      {% case site.lang %}
      {% when 'en' %}
        {% assign translation = tool.en %}
        {% assign video_title = video.title_en %}
      {% when 'ar' %}
        {% assign translation = tool.ar %}
        {% assign video_title = video.title_ar %}
      {% endcase %}
      {
        title: "{{ video_title | default: 'Video' }}",
        url: "{{ video.embed_url }}",
        image: "{{ video.image }}",
        tool_title: "{{ translation.name }} - {% translate cta.view_tool %}",
        tool_url: "{{ tool.url }}",
        id: "{{ forloop.index}}"
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
  class VideoPlayer extends React.Component {
    
      constructor() {
        super();
        this.updateVideo = this.updateVideo.bind(this);
        this.state = {
          videos: videos,
          currentVideo: videos[0]
        }
        
      }
      updateVideo(video) {
        console.log('clicked', video);
        this.setState({ currentVideo: video });
      }
      render() {
        const { videos, currentVideo } = this.state;
        //const { updateVideo } = this.props;
        const videoThumbnails = videos.map((video, index) => {
          var cls = (index === 0) ? 'carousel-item active' : 'carousel-item'; 
          return (
            <div className={cls} key={index}>
              <button className="video-thumbnail" onClick={() => this.updateVideo(video)} key={video.id} style={ { backgroundImage: "url("+video.image+")" } }/>
            </div>
          );  
        }); 
          return (
            <div>
              <div id="video-player">
                <div className="video-title bg-dark text-white">{currentVideo.title}</div>
                <div className="container-4x3">
                  <iframe src={currentVideo.url}></iframe>
                </div>
              </div>

              <div id="carousel-video-thumbs" className="carousel slide" data-ride="carousel" data-interval="false">
                <div className="carousel-inner row w-100 mx-auto">
                  {videoThumbnails}
                </div>
                <a className="carousel-control-prev" href="#carousel-video-thumbs" role="button" data-slide="prev">
                  <span className="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span className="sr-only">Previous</span>
                </a>
                <a className="carousel-control-next" href="#carousel-video-thumbs" role="button" data-slide="next">
                  <span className="carousel-control-next-icon" aria-hidden="true"></span>
                  <span className="sr-only">Next</span>
                </a>
              </div>
              <div className="bg-primary text-dark text-center">
                <a href={currentVideo.url} className="btn btn-related-tool">{currentVideo.tool_title}</a>
              </div>
   
            </div>
        )    
      }
  }
  ReactDOM.render(
      <VideoPlayer />,
      document.getElementById('videoCarousel')
  );
</script>