

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.5/venobox.min.js" crossorigin="anonymous" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
  defer></script>

<script>
  $(document).ready(function () {
    // Helper function to get form data in the supported format
    function getFormDataString(formEl) {
      var formData = new FormData(formEl),
        data = [];

      for (var keyValue of formData) {
        data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
      }

      return data.join("&");
    }

    // Fetch the form element
    var formEl = document.getElementById("contact-form");

    // Override the submit event
    formEl.addEventListener("submit", function (e) {
      e.preventDefault();

      // if (grecaptcha) {
      //   var recaptchaResponse = grecaptcha.getResponse();
      //   if (!recaptchaResponse) { // reCAPTCHA not clicked yet
      //     return false;
      //   }
      // }

      var request = new XMLHttpRequest();

      request.addEventListener("load", function () {
        if (request.status === 302) { // CloudCannon redirects on success
          // It worked
          console.log('form submit success');
          $('#form-confirmation').addClass('active');
          $('#contact-form').removeClass('active');
        }
      });

      request.open(formEl.method, formEl.action);
      request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      request.send(getFormDataString(formEl));
    });
    getFormDataString();
  })
</script>

{% if page.url == '/' %}
  {% include videoPlayer.html %}
{% endif %}