---
layout: default
---
{% case site.lang %}
{% when 'en' %}
{% assign name = page.en.name %}
{% assign description = page.en.description %}
{% when 'ar' %}
{% assign name = page.ar.name %}
{% assign description = page.ar.description %}
{% endcase %}
<section class="bg-primary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 mx-lg-auto">
        <div class="content">
          <ul id="principle-nav" class="nav flex-nowrap justify-content-between">
            {% assign principles = site.principles | sort: 'order_number' %}
            {% for principle in principles  %}
              <li class="nav-item">
                <a href="{{ principle.url }}" class="nav-link {% if page.url == principle.url %}active{% endif %}">
                  <img src="{{ principle.icon_image}}" class="img-fluid" alt="{{ principle.name}} image">
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="text-center">
            <h1><strong>{{ name }}</strong></h1>
            <p>{{ description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="content">
          <div class="card-deck card-deck-50">
            {% assign current_principle = page.slug %}
            {% assign principle_tools = site.tools | where: "principle", current_principle %}
            {% for tool in principle_tools %}
            {% if tool.case_study == true %}
              {% case site.lang %}
              {% when 'en' %}
                {% assign tool_name = tool.en.name %}
                {% assign tool_description = tool.en.description %}
              {% when 'ar' %}
                {% assign tool_name = tool.ar.name %}
                {% assign tool_description = tool.ar.description %}
              {% endcase %}
              <div class="card case-study-card">
                <div class="card-header">
                  <h2 class="mt-3"><strong>{{ tool_name }}</strong></h2>
                </div>
                <div class="card-body text-center">
                  <img src="{{ case.grid_image }}" class="img-fluid" alt="{{ tool_name }} image">
                  <p class="mt-5">{{ tool_description }}</p>
                </div>  
                <div class="card-footer">
                  <a href="{{ case.url }}" class="btn btn-bordered">Learn More</a>
                </div>
              </div>
              
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="text-center"><strong>More tools to {{ name }}</strong></h2>
        </div>
      </div>
    </div>
    <div class="card-deck card-deck-33">
      {% assign tools = site.tools | where: "principle", current_principle %}
      {% for tool in tools %}
        {% if tool.case_study == false %}
          {% case site.lang %}
            {% when 'en' %}
              {% assign tool_name = tool.en.name %}
              {% assign tool_description = tool.en.description %}
            {% when 'ar' %}
              {% assign tool_name = tool.ar.name %}
              {% assign tool_description = tool.ar.description %}
          {% endcase %}
          <div class="card tool-card text-center">
            <div class="card-header">
              <h4><strong>{{ tool_name }}</strong></h4>
            </div>
            <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x300)"></div>
            <div class="card-body">
              <p class="mb-0">{{ tool_description }}</p>
            </div>
            <div class="card-footer d-flex text-uppercase">
              {% if tool.ar.tool_document}
                <a href="{{ tool.ar.tool_document }}" class="btn"><strong>Download Tool</strong><br>In Arabic</a>
              {% endif %}
              {% if tool.ar.tool_document}
                <a href="{{ tool.en.tool_document }}" class="btn"><strong>Download Tool</strong><br>In English</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% include principle-nav.html %}