---
layout: default
---
{% case site.lang %}
  {% when 'en' %}
    {% assign page_name = page.en.name %}
    {% assign page_description = page.en.description %}
  {% when 'ar' %}
    {% assign page_name = page.ar.name %}
    {% assign page_description = page.ar.description %}
{% endcase %}
<section class="bg-primary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 mx-lg-auto">
        <div class="content">
          <ul id="principle-nav" class="nav flex-nowrap justify-content-between">
            {% assign principles = site.principles | sort: '_order_number' %}
            {% for principle in principles  %}
              {% case site.lang %}
                {% when 'en' %}
                  {% assign name = principle.en.name %}
                {% when 'ar' %}
                  {% assign name = principle.ar.name %}
              {% endcase %}
              <li class="nav-item">
                <a href="{% tl principle.namespace %}" class="nav-link {% if page.url == principle.url %}active{% endif %}">
                  <img src="{{ principle._icon_image}}" class="img-fluid" alt="{{ name}} image">
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="text-center">
            <h1><strong>{{ page_name }}</strong></h1>
            <p>{{ page_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="content">
          <div class="card-deck card-deck-50">
            {% assign current_principle = page.slug %}
            {% assign principle_tools = site.tools | where: "principle", current_principle %}
            {% for tool in principle_tools %}
              {% assign tool_namespace = tool.namespace %}
              {% if tool.case_study == true %}
                {% case site.lang %}
                  {% when 'en' %}
                    {% assign translation = tool.en %}
                  {% when 'ar' %}
                    {% assign translation = tool.ar %}
                {% endcase %}
                {% include components/tool-card.html case-study=true namespace=tool_namespace %}

              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2 class="text-center"><strong>{% t headings.more_tools %}</strong></h2>
        </div>
      </div>
    </div>
    <div class="card-deck card-deck-33">
      {% assign tools = site.tools | where: "principle", current_principle %}
      {% for tool in tools %}
        {% assign tool_namespace = tool.namespace %}
        {% if tool.case_study == false %}
          {% case site.lang %}
            {% when 'en' %}
              {% assign translation = tool.en %}
            {% when 'ar' %}
              {% assign translation = tool.ar %}
          {% endcase %}

          {% include components/tool-card.html namespace=tool_namespace %}

        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include principle-nav.html %}