---
layout: default
---
{% assign current_principle = site.principles | where: "slug", page.principle | first %}

{% case site.lang %}
  {% when 'en' %}
    {% assign name = page.en.name %}
    {% assign description = page.en.description %}
    {% assign tool_document = page.en.tool_document %}
    {% assign case_study = page.en.case_study_html %}
    {% assign principle_name = current_principle.en.name %}
  {% when 'ar' %}
    {% assign name = page.ar.name %}
    {% assign description = page.ar.description %}
    {% assign tool_document = page.ar.tool_document %}
    {% assign content_html = page.ar.case_study_html %}
    {% assign principle_name = current_principle.ar.name %}
{% endcase %}

{% if page.case_study == false %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h1>{{ name }}</h1>
            <p>{{ description }}</p>
            <a href="{{ tool_document }}">{% t cta.download_tool %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <div class="bg-image aspect-hero" style="background-image: url({{ tool.banner_image | default: site.placeholder_image }})"></div>
  <section class="bg-light">
    <div class="container ">
      <div class="row">
        <div class="col-12 col-lg-10 mx-lg-auto">
          <div class="content text-center">
            <div class="tool-intro">

              <div class="tool-principle">
                <p class="mb-0">{{ principle_name }}</p>
                <div class="bg-icon">
                  <img src="{{ current_principle._icon_image }}" class="img-fluid tool-icon" alt="{{ principle_name }} icon">
                </div>
              </div>
              <h1>{{ name }}</h1>
              <p class="mb-0">{{ description }}</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="content text-center">
            {% if page.grid_image %}
              <a href="{{ tool_document }}">
                <img src="{{ page.grid_image }}" class="img-fluid mb-4" alt="{{ name }} image" />
              </a>
            {% endif %}
            <a href="{{ tool_document }}" class="btn btn-bordered">{% t cta.download_tool %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="editor-nav">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a href="cloudcannon:#en.case_study_html" data-cms-editor-link-style="modal" class="btn btn-primary btn-block">Edit the English Case Study</a>
        </div>
        <div class="col-6">
          <a href="cloudcannon:#ar.case_study_html" data-cms-editor-link-style="modal" class="btn btn-primary btn-block">Edit the Arabic Case Study</a>
        </div>
      </div>
    </div>
  </section>

  {{ case_study }}

  {% capture case_study_include %}tools/{{page.namespace}}.html{% endcapture %}
  {% capture case_study_content %}{% translate_file case_study_include %}{% endcapture %}
  {% unless case_study_content contains "Liquid error" %}
    {% translate_file case_study_include %}
  {% endunless %}

  <section class="bg-primary">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <p style="font-size: 48px;" class="text-right">
            <i class="fas fa-quote-left"></i>
            </p>
          </div>
          <div class="col-8">
            <div class="content text-center">
              <p class="mb-0 lead editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quos ullam sequi nemo! Corporis iure ipsam magnam delectus illo labore.</p>
              <p class="mb-0"><small>&mdash;<em class="editable">FirstName</em></small></p>
            </div>
          </div>
          <div class="col-2">
            <p style="font-size: 48px;"class="text-left">
              <i class="fas fa-quote-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include related-tool-nav.html %}
{% endif %}