---
layout: default
---
{% assign current_principle = site.principles | where: "slug", page.principle | first %}
{% capture what-how %}case-studies/{{page.namespace}}/what-how.html{% endcapture %}
{% capture example %}case-studies/{{page.namespace}}/example.html{% endcapture %}
{% capture media %}case-studies/{{page.namespace}}/media.html{% endcapture %}

{% case site.lang %}
  {% when 'en' %}
    {% assign tool = page.en %}
    {% assign principle = current_principle.en %}
  {% when 'ar' %}
    {% assign tool = page.ar %}
    {% assign principle = current_principle.ar %}
{% endcase %}

{% if page.case_study == false %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h1>{{ tool.name }}</h1>
            <p class="lead">{{ tool.purpose }}</p>
            <a href="{{ tool.tool_document }}">{% t cta.download_tool %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <div class="bg-image aspect-hero" style="background-image: url({{ page.banner_image | default: site.placeholder_image }})"></div>
  <section class="bg-light">
    <div class="container ">
      <div class="row">
        <div class="col-12 col-lg-10 mx-lg-auto">
          <div class="content text-center">
            <div class="tool-intro">

              <div class="tool-principle">
                <p class="mb-0">{{ principle.name }}</p>
                <div class="bg-icon">
                  <img src="{{ current_principle._icon_image }}" class="img-fluid tool-icon" alt="{{ principle.name }} icon">
                </div>
              </div>
              <h1>{{ tool.name }}</h1>
              <p class="mb-0 lead">{{ tool.purpose }}</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="text-center">
            {% if tool.featured_image %}
              <a href="{{ tool.tool_document }}">
                <img src="{{ tool.featured_image }}" class="img-fluid mb-4" alt="{{ tool.name }} image" />
              </a>
            {% endif %}
            <a href="{{ tool.tool_document }}" class="btn btn-bordered">{% t cta.download_tool %}</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h3 class="mt-5 text-center">{% t headings.what_how %}</h3>
          {% tf what-how %}
        </div>
      </div>
    </div>
  </section>

  <section id="example">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% tf example %}
        </div>
      </div>
    </div>
  </section>


  <section id="testimonial" class="bg-primary">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <p style="font-size: 48px;" class="text-right">
            <i class="fas fa-quote-left"></i>
            </p>
          </div>
          <div class="col-8">
            <div class="content text-center">
              <p class="mb-0 lead">{{ tool.testimonial.quote }}</p>
              <p class="mb-0"><small>&mdash;<em>{{ tool.testimonial.author }}</em></small></p>
            </div>
          </div>
          <div class="col-2">
            <p style="font-size: 48px;"class="text-left">
              <i class="fas fa-quote-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if page.media %}
  <section id="media">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% tf media %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.gallery %}
  <section id="gallery">
    <div class="container">
      <div class="row">
        {% for image in page.gallery %}
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="bg-image aspect-4x3 my-3" style="background-image: url({{ image.url }})"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

{% endif %}


{% include related-tool-nav.html %}