---
layout: default
---

{% if page.case_study ==  false %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h1>{{ page.name }}</h1>
            <p>{{ page.description }}</p>
            <a href="{{ page.tool_document }}">Download Tool</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <div class="bg-image aspect-hero" style="background-image: url({{ site.placeholder_image }})"></div>
  <section class="bg-light">
    <div class="container ">
      <div class="row">
        <div class="col-12 col-lg-8 mx-lg-auto">
          <div class="content text-center">
            <div class="tool-intro">
              {% assign current_principle = site.principles | where: "slug", page.principle | first %}
              <div class="tool-principle">
                <p class="mb-0">{{ current_principle.name }}</p>
                <img src="{{ current_principle.icon_image }}" class="img-fluid tool-icon" alt="{{ page.name }} icon">
              </div>
              <h1>{{ page.name }}</h1>
              <p class="mb-0">{{ page.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="content text-center">
            <a href="{{ page.tool_document }}">
              <img src="{{ page.grid_image }}" class="img-fluid" alt="{{ page.name }} image" />
              Download Tool
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-lg-auto">
          <div class="content text-center">
            <h2 class="mt-5">What and how</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, modi repudiandae? Quos, quidem quis. Pariatur
              perferendis doloremque ipsam impedit vero.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="content text-center">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content text-center">
        
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in (1..3) %}
          <div class="col-lg-4">
            <div class="content">
              <img src="https://via.placeholder.com/500x300" class="img-fluid" alt="" />
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-12">
          <div class="content text-center">
            <p>New stuff here</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel provident minus voluptate, saepe unde aperiam repellat est distinctio tenetur placeat?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, voluptatem molestias pariatur iste voluptatum mollitia tenetur impedit porro non debitis.</p>
            <p><img class="img-fluid" alt="" src="https://via.placeholder.com/1800x600" /></p>
            <h3>Available Rich Content</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit itaque suscipit perferendis consequatur facere quaerat deleniti possimus tempora optio voluptas.</p>
            <p><img class="img-fluid" alt="" src="https://via.placeholder.com/1800x600" /></p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in (1..3) %}
          <div class="col-lg-4">
            <div class="content">
              <img src="https://via.placeholder.com/500x300" class="img-fluid" alt="" />
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include related-tool-nav.html %}
{% endif %}