---
layout: default
---

<section class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="content">
          <img src="https://via.placeholder.com/500" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="content">
          <h1>Be Open</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem reprehenderit expedita officiis accusantium atque iusto eveniet voluptate modi id sed.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      {% for i in (1..2) %}
      <div class="col-lg-6">
        <div class="content text-center">
          <h2>Tool Name</h2>
          <img src="https://via.placeholder.com/768x500" class="img-fluid" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui molestias dolorem, quod molestiae odit optio voluptatem aliquam ducimus soluta deleniti.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      {% for i in (1..6) %}
      <div class="col-lg-4">
        <div class="content">
          <div class="card text-center">
            <h2>Tool Name</h2>
            <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x300)"></div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, ducimus.</p>
              <a href="#">Download Tool</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content">
          <a href="#">Next Tool</a>
        </div>
      </div>
    </div>
  </div>
</section>