%clearfix {
  zoom: 1;
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.content {
  position: relative;
  @extend %clearfix;
}


// Responsive containers
.container-4x3 {
  height: 0;
  padding-top: 60%;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Background images
.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
}

// Sticky behavior
.sticky {
  position: sticky;
  top: 0;
}

// Arrows/Carets - TODO (TEST)
.arrow {
  &::after,
  &::before {
    content: " ";
    position: absolute;
    left: 100%;
    top: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
  }
  &.arrow-right {
    &::after {
      border-color: rgba($white, 0);
      border-left-color: #ffffff;
      border-width: 30px;
      margin-top: -30px;
    }
    &::before {
      border-color: rgba($gray-400, 0);
      border-left-color: $gray-400;
      border-width: 31px;
      margin-top: -31px;
    }  
  }
}

// Color Utilities

// SVG Fill & Stroke Utilities