.card {
  border: 0;
  .card-header {
    background-color: transparent;
    border: 0;
    a {
      text-decoration: none;
    }
  }

  .card-footer {
    border: 0;
    a {
      color: $dark;
      text-decoration: none;
    }
  }
  &.principle-card {
    padding-left: 0;
    padding-right: 0;
    .card-header {
      height: 65px;
      h3 {
        font-size: 18px;
      }
    }
    .card-body {
      padding-top: 0;
    }
    .card-footer {
      font-weight: 600;
      background-color: $yellow;
      a {
        border-bottom: 1px solid $body-color;
      }
    }
    .icon-container {
      border-radius: 50%;
      max-width: 70%;
      margin: 0 auto 20px;
    }
  }
  &.tool-card {
    margin-bottom: 1.5rem;
    .card-header {
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      h4 {
        font-size: 17px;
        margin-bottom: 0;
      }
    }
    .card-footer {
      padding: 0;
      background-color: $primary;
      align-items: center;
      a {
        width: 50%;
        padding: 10px;
        // text-align: center;
        // font-weight: 600;
        // font-size: 13px;
        // padding: 0;
        // border-bottom: 2px solid $dark;
        // margin: 5px 10px;
        &:first-of-type {
          background-color: darken($primary, 10%);
        }
        i {
          font-size: 1.75rem;
          margin-right: 10px;
        }
      }
    }
  }
  &.case-study-card {
    text-align: center;
    margin-bottom: 1.75rem;
    .card-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card-footer {
      background-color: transparent;
    }
  }
}

.card-deck-33 {
  flex-flow: wrap;
  @include media-breakpoint-down(md) {
    justify-content: center;
  }
  .card {
    flex: inherit;
    width: 30%;
    margin-bottom: 25px;
    &:last-of-type {
      // margin-right: auto;
    }
    @include media-breakpoint-down(md) {
      width: 45%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.card-deck-25 {
  flex-flow: wrap;
  justify-content: center;
  .card {
    flex: inherit;
    width: 20%;
    @include media-breakpoint-down(md) {
      width: 45%;
      margin-bottom: 25px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

.card-deck-50 {
  flex-flow: wrap;
  justify-content: center;
  .card {
    flex: inherit;
    width: 45%;
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}
