.testimonial {
  position: relative;
  font-size: 20px;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    font-size: 65px;
    font-style: italic;
  }
  &::before {
    left: 0;
    content: open-quote
  }
  &::after {
    right: 0;
    content: close-quote;
  }
}