---
layout: homepage
title: titles.home

namespace: home
permalink: /
permalink_en: /
---

<section class="bg-image aspect-section overlap-bottom" style="background-image: url(/assets/img/Farah_NGO-Practitioner-Sitting-with-Parent-Student-and-Teacher.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto">
        <div class="content text-center ">
          <div class="p-4 bg-light-opacity">
            {% translate_file home/intro.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container overlap-top">
    <div class="card-deck card-deck-25{% unless site.lang =='en' %} flex-row-reverse{% endunless %}">
      {% assign principles = site.principles | sort: '_order_number' %}
      {% for principle in principles  %}
        {% case site.lang %}
          {% when 'en' %}
            {% assign name = principle.en.name %}
            {% assign description = principle.en.description %}
          {% when 'ar' %}
            {% assign name = principle.ar.name %}
            {% assign description = principle.ar.description %}
        {% endcase %}
        <div class="card principle-card text-center col-md-6 col-lg-4">
          <div class="card-header">
            <h3><strong>{{ name }}</strong></h3>
          </div>
          <div class="card-body">
            <div class="bg-light icon-container">
              <img src="{{ principle._icon_image }}" class="rounded img-fluid" alt="{{ principle.name }} image">
            </div>
            <p><small>{{ description }}</small></p>
          </div>
          <div class="card-footer">
            <a href="{{ principle.url }}">
              {% translate cta.find_tools %}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="d-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Localization Tests</h1>
        <p class="lead">Update the language selector here to view localization capabilites.</p>

        <div class="dropdown">
          <button id="language-menu" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% translate topnav.language_selection %}
          </button>
          {% include components/language-selector.html %}
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6">
        {% capture title %}titles.{{ page.namespace }}{% endcapture %}
        {% capture link %}{{ page.namespace }} {{ item[0] }}{% endcapture %}
        <div class="card">
          <div class="card-header">Details</div>
          <div class="card-body">
            <dl>
              <dt>Language Code</dt>
              <dd>{{ site.lang }}</dd>
              <dt>Page Title</dt>
              <dd>{% t title %}</dd>
              <dt>Permalink</dt>
              <dd>{% tl link %}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">Content Block</div>
          <div class="card-body">
            <p class="lead">
              {% translate_file home/about.html %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>